@using 仓储系统.ViewModels
@using 仓储系统.Models
@model 仓储系统.ViewModels.InformationViewModel
@{
    ViewBag.Title = "Information";
}


    <div class="container dropdown">
        <h2>Information</h2>
        @using (Html.BeginForm("Information", "Home", FormMethod.Post))
        {
            <input type="submit" class="btn btn-primary" name="select" value="查询记录">
            <input type="button" class="btn btn-primary" onclick="$('#updataUser').modal('show')" value="修改信息">
            <input type="button" class="btn btn-primary" onclick="$('#addUser').modal('show')" value="添加用户">
            Html.RenderAction("InformationAdminButton");
        }

        @{
            Html.RenderAction("InformationAdmin");
        }

        @{
            Html.RenderAction("LoginRecord");
        }
        <div class="modal fade" id="updataUser" tabindex="-1" role="dialog" aria-hidden="true">
            @{
                Html.RenderAction("UpdataUser");
            }
        </div>

        @*<a href="#" data-toggle="modal" data-target="#deleteConfirmationModal">Delete</a>*@
        <div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-hidden="true">
            @{
                Html.RenderAction("Test");
            }
        </div>

    </div>

<div class="container">
    <div class="row">
        <div class=" col">
            @{
                Html.RenderAction("AddNew");
            }
        </div>
    </div>
</div>

