@using 仓储系统.ViewModels
@using 仓储系统.Models
@model 仓储系统.ViewModels.InformationViewModel
@{
    ViewBag.Title = "用户信息";
}


<h2> @ViewBag.Title</h2>
<div class="container dropdown">
    @using (Html.BeginForm("Information", "Home", FormMethod.Post))
    {
        <input type="submit" class="btn btn-primary" name="select" value="查询记录">
        <input type="button" class="btn btn-primary" onclick="$('#updataUser').modal('show')" value="修改信息">
        <!--修改是否打开查看用户的列表的标志位，并重新打开此页面-->
        Html.RenderAction("InformationAdminButton");
    }

    @{
        <!--用户数据的查看删除加修改，最终转到UserTable-->
        Html.RenderAction("InformationAdmin");
    }

    @{
        Html.RenderAction("LoginRecord");
    }

    <!--修改用户的弹窗-->
    <div class="modal fade" id="updataUser" tabindex="-1" role="dialog" aria-hidden="true">
        @{
            //Html.RenderAction("UpdataUser");
            Html.RenderPartial("UpdataUser", Model.createUserViewModel);
        }
    </div>
    <!--添加用户的弹窗-->
    <div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-hidden="true">
        @{
            Html.RenderPartial("CreateUser");
        }
    </div>
</div>

