@{
    Layout = null;
}

<table class="table-borderless">
    <tr>
        <td colspan="2">
            <input type="text" value="">
        </td>
        <td colspan="2">
        </td>
    </tr>

</table>